footer {
  width: 100%;
  background-color: #b85300e7;
  color: rgb(255, 255, 255);
  margin-top: 5px;
  text-align: center;
  box-sizing: border-box;
  z-index: 1000;
  font-size: 0.8rem;
}
@media (prefers-color-scheme: dark) {
  footer {
    background-color: #131313f1;
    color: #b85300;
  }
}