header {
  width: 100%;
  background-color: #b85300e7;
  backdrop-filter: blur(15px);
  padding: 0.2rem 0;
  text-align: center;
  box-sizing: border-box;
  position: sticky;
  top: 0;
  z-index: 1000;
}
.nag {
  display: inline-block;
  color: #ececec;
  background: none;
  padding: 0.4rem 1rem;
  width: 12%;
  height: 2.5rem;
  line-height: 2.5rem;
  border: none;
  border-radius: 5px;
  font-size: 110%;
  font-weight: 500;
  transition: ease 0.1s;
  white-space: nowrap;
  text-decoration: none;
}
.nag:hover {
  transform: scale(1.1);
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-weight: 550;
}

@media (max-width: 768px) {
  .nag {
    width: 18%;
    font-size: 95%;
    padding: 0.2rem 0.4rem;
  }
}

@media (max-width: 480px) {
  .nag {
    width: 28%;
    font-size: 85%;
    padding: 0.2rem 0.4rem;
    height: 2rem;
    line-height: 2rem;
  }
}
@media (prefers-color-scheme: dark) {
  header {
    background-color: #131313f1;
  }
  .nag {
    color: #b85300;
  }
  .nag:hover {
    color: rgb(255, 199, 126);
  }

}