#root {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    animation: lockScroll 0.8s;
}

.app-content {
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: clamp(1.5rem, 3vh, 4rem);
    padding-bottom: clamp(1rem, 2vh, 2rem);
    animation: fadeIn 0.8s ease forwards;
}

.socials {
    margin-top: clamp(0.8rem, 1.5vh, 3rem);
    margin-bottom: clamp(1rem, 2vh, 2rem);
    display: flex;
    justify-content: center;
    gap: clamp(8px, 1.3vw, 35px);
    flex-wrap: wrap;
}

.soc {
    transition: ease 0.1s;
    width: clamp(30px, 2.34vw, 60px);
    height: clamp(30px, 2.34vw, 60px);
}

.soc:hover {
    transform: scale(1.1);
    cursor: pointer;
    filter: invert(15%);
}

.profile img {
    border-radius: 50%;
    width: clamp(12rem, 15vw, 35rem);
    border: clamp(6px, 0.6vw, 18px) solid var(--akcent);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.profile img:hover {
    transform: scale(1.1) rotate(3deg);
    box-shadow: var(--cien);
    cursor: pointer;
}

.introduce {
    font-size: clamp(120%, 15.6vw, 400%);
    margin-bottom: 0rem;
}

.highlight {
    color: var(--akcent);
    text-shadow: var(--cien-tekst);
}

.cursor {
    animation: blink 1s infinite;
}

@keyframes blink {
    0%,
    50%,
    100% {
        opacity: 1;
    }
    25%,
    75% {
        opacity: 0;
    }
}

.textabout h2 {
    margin: clamp(0.3rem, 0.5vh, 0.5rem) 0;
    padding: 0 clamp(0.5rem, 1vw, 2rem);
    line-height: clamp(1.1, 1.2, 1.3);
    font-weight: 600;
    font-size: clamp(0.75rem, 1.15vw, 1.2rem);
}

@media (max-width: 768px) {
    .profile img {
        width: 15rem;
        border-width: 7px;
    }

    .introduce {
        font-size: 200%;
    }

    .soc {
        width: 40px;
        height: 40px;
    }

    .socials {
        gap: 15px;
    }
}

@media (max-width: 480px) {
    .profile img {
        width: 12rem;
        border-width: 5px;
    }

    .textabout h2 {
        font-size: 95%;
    }

    .introduce {
        font-size: 150%;
    }

    .soc {
        width: 35px;
        height: 35px;
    }

    .socials {
        gap: 10px;
        margin-top: 1.5rem;
    }
}

@media (prefers-color-scheme: dark) {
    .soc {
        filter: invert(100%);
    }

    .soc:hover {
        filter: invert(60%);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(15px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes lockScroll {
    0% {
        overflow: hidden;
    }
    99% {
        overflow: hidden;
    }
    100% {
        overflow: visible;
    }
}
