:root {
  --akcent: #b85300;
  --cien-tekst: 0 0 2px rgba(184, 83, 0, 0.75),0 0 4px rgba(184, 83, 0, 0.55);
  --cien: 0 0 10px rgba(184, 83, 0, 0.7),0 0 20px rgba(184, 83, 0, 0.5),0 0 30px rgba(184, 83, 0, 0.35);
  --tlo-strony: linear-gradient(130deg, #fff9f1, #fff8ef);
  --ciemne-tlo: linear-gradient(135deg, #03040e, #060618);
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(53, 53, 53, 0.87);
  background: var(--tlo-strony);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: "Swera";
  src: url("assets/Swera-Regular-Demo.otf") format("opentype");
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
}
html {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
@media (prefers-color-scheme: dark) {
    :root {
        background: var(--ciemne-tlo);
        color: #e0e0e0;
    }
}